@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

.codeutsava__section4-speaker-card{
    background: #fef9ff;
    box-shadow: var(--secondary-c) 0px 0px 12px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    max-width: 370px;
}
.codeutsava__section4-decor-web{
    width: 98px;
    height: 22px;
    position: relative;
    left: 140px;
    top: -25px;
}
.codeutsava__section4-decor-web img{
    height: 97px;
    width: 105px;
}
.codeutsava__section4-decor-bat{
    width: 100px;
    height: 100px;
    position: relative;
    right: 54px;
    top: -85px;
    transform: rotate(-45deg);
}
.codeutsava__section4-decor-bat img{
    height: 45px;
    width: 45px;
}
#bat2{
    position: relative;
    top: 25px;
    right: 40px;
    transform: rotate(18deg);
    height: 30px;
    width: 30px;
}
.codeutsava__section4-decor-lantern img{
    height: 55px;
    width: 55px;
    transition: all .3s ease-in-out; 
}
.codeutsava__section4-decor-lantern img:hover{
    transform: scale(1.3);
}
.codeutsava__section4-speaker-img-container{
    width: 240px;
    height: 240px;
}

.codeutsava__section4-speaker-img{
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}

.codeutsava__section4-speaker-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.codeutsava__section4-speaker-menu h1{
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    padding-top: 1rem;
}

.codeutsava__section4-speaker-menu h3{
    font-size: 20px;
    line-height: 20px;
    color: var(--secondary-c);
    padding-top: 0.5rem;
}

.codeutsava__section4-speaker-menu p{
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding: 1rem 0;
}

.codeutsava__section4-speaker-divider{
    border: 1px solid #D7D7D7;
    width: 100%;
}

.codeutsava__section4-speaker-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0; 
}

.codeutsava__section4-speaker-contact h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.codeutsava__section4-speaker-contact-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding-top: 0.5rem; 
}

.codeutsava__section4-speaker-contact-links-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.codeutsava__section4-speaker-contact-links img{
    cursor: pointer;
    width: 28px;
}
.codeutsava__section4-speaker-contact-links-image svg:hover{
    fill: var(--primary-c);
}
.fadeIn{
    animation-name: fadeIn;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@media screen and (max-width: 650px) {
    .codeutsava__section4-speaker-card{
        transform: scale(0.9);
    }
  }