.codeutsava__section1 {
  /* display: flex; */
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.codeutsava__section1-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.codeutsava__section1-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.codeutsava__section1-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 82px;
  color: #ffffff;
  margin: 1rem;
}

.codeutsava__section1-subheading {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 36px;
  line-height: 82px;
  letter-spacing: 1px;
  color: var(--secondary-c);
  text-transform: uppercase;
}

.codeutsava__section1-para {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

.codeutsava__section1-image {
  width: 100%;
  z-index: 1;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.codeutsava__section1-image img{
  height: 150px;
}

.codeutsava__section1-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: max-content;
}

.codeutsava__section1-button {
  align-items: center;
  background-color: #f3f6fb;
  border-radius: 4px;
  border: 2px solid transparent;
  color: #000;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  height: 44px;
  justify-content: center;
  outline: none;
  padding: 0 32px;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}

.codeutsava__section1-devfolio {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.codeutsava__section1-discord {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f3f6fb;
  padding: 9px 14px 8px;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.codeutsava__section1-discord-link img {
  height: 25px;
  width: auto;
}

.codeutsava__section1-register {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  background-color: #f3f6fb;
  padding: 9px 14px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 14px;
  width: max-content;
  text-align: center;
}

.codeutsava__section1-register-link {
  text-align: center;
}

.codeutsava__section1-side-links {
  position: absolute;
  left: 48px;
  bottom: 54px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.5rem;
  text-align: center;
}

.codeutsava__section1-side-links::before {
  display: block;
  content: "";
  width: 2px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.codeutsava__section1-side-links a svg:hover{
  fill: var(--secondary-c);
  transition: all 0.2s ease-in-out;
}

.codeutsava__section1-scrollDown{
  color: white;
  position: absolute;
  bottom: 4rem;
  right: 2.5rem;
  transform-origin: right top 0;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: bounce 4s infinite;
  animation-delay: 2s;
}

.codeutsava__section1-scrollDown a{
  display: inline-block;
  font-family: var(--font-family);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff;
  writing-mode: vertical-lr;
  background: transparent;
  position: relative;
  margin-bottom: 0.6rem;
}

.codeutsava__section1-scrollDown a:hover{
  color: var(--secondary-c);
  transition: all 0.2s ease-in-out;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-15px);}
}

@media screen and (max-width: 1000px) {
  .codeutsava__section1-scrollDown, .codeutsava__section1-side-links{
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .codeutsava__section1 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .codeutsava__section1-body {
    max-width: 300px;
  }
  .codeutsava__section1-heading {
    font-size: 40px;
    margin: 0;
  }
  .codeutsava__section1-subheading {
    font-size: 20px;
    letter-spacing: 0;
  }
  .codeutsava__section1-para {
    font-size: 18px;
  }
  .codeutsava__section1-image {
    margin-bottom: 1rem;
  }
  .codeutsava__section1-button-container {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }
}
