.codeutsava__sponsers-carousel-container {
  background-color: rgba(32, 32, 32, 1);
  width: 100%;
  overflow: hidden;
}

.codeutsava__sponsers-carousel {
  display: inline-block;
  overflow: hidden;
  padding: 2rem;
  white-space: nowrap;
  width: 800%;
  animation: scrollInfinite 40s linear infinite;
}

.codeutsava__sponsers-carousel:hover {
  animation-play-state: paused;
}

.codeutsava__sponsers-carousel-item {
  display: inline-block;
  margin: 2rem 3rem;
  height: 75px;
  width: auto;
  object-fit: contain;

}

.codeutsava__sponsers-carousel-item img {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  object-fit: cover;
}

.codeutsava__sponsers-carousel-item-block{
    margin: 0px;
    display: inline-block;
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}
