.codeutsava__sponsers-carousel-container {
  overflow: hidden;
}

.codeutsava__sponsers-carousel {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding: 2rem 0;
  animation: scrollInfinite 15s infinite linear;
}

.codeutsava__sponsers-carousel-item {
  display: inline-block;
  margin: 0rem 3rem;
  height: 75px;
  width: auto;
  object-fit: contain;
}

.codeutsava__sponsers-carousel-item img {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  text-align: center;
}

.codeutsava__sponsers-carousel-item-block {
  margin: 0px;
  display: inline-block;
}

@keyframes scrollInfinite {
  0% {
    transform: translate(50vw, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
