.codeutsava__section-statistics {
  padding-bottom: 3rem;
  padding-top: 2rem;
  color: white;
  font-family: "Poppins";
  background-color: rgba(0, 0, 0, 0.243);
  backdrop-filter: blur(10px);
}

.codeutsava__section-statistics-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.codeutsava__section-statistics-menu1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 0rem;
  width: 100%;
  padding: 0 64px;
}

.codeutsava__section-statistics-menu1 div {
  /* margin: 0 30px; */
  width: 100%;
}
.codeutsava__section-statistics-left,
.codeutsava__section-statistics-right {
  padding: 0 48px;
}

.codeutsava__section-statistics-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.codeutsava__section-statistics-title img {
  width: auto;
  position: relative;
  height: 90px;
}

@media screen and (max-width: 1150px) {
  .codeutsava__section-statistics-body {
    margin: 0 1rem;
  }
  .codeutsava__section-statistics-menu1 {
    gap: 1rem;
    flex-direction: column;
    padding: 0;
  }
  .codeutsava__section-statistics-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 650px) {
  .codeutsava__section-statistics-body {
    margin: 0 1rem;
  }
  .codeutsava__section-statistics-menu11 {
    max-width: 480px;
    height: 820px;
  }
  .codeutsava__section-statistics-title {
    font-size: 34px;
  }
}

@media screen and (max-width: 450px) {
  .codeutsava__section-statistics-menu1 {
    max-width: 310px;
  }
}

.codeutsava__section-statistics-menu2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.codeutsava__section-statistics-menu2 > div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 100px;
}

@media (width<1300px) {
  .codeutsava__section-statistics-menu2 > div {
    padding: 0;
  }
}

.codeutsava__section-statistics-format-card {
  width: 25%;
  margin: 1rem;
  background-color: #48586180;
  border: 2px solid var(--secondary-c);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.codeutsava__section-statistics-format-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.codeutsava__section-statistics-format-card-description span {
  font-size: 40px;
  font-weight: 600;
  margin-right: 10px;
}

@media screen and (max-width: 415px) {
  .codeutsava__section-statistics-format-card {
    gap: 8px;
    padding: 12px;
  }
  .codeutsava__section-statistics-format-card-description {
    font-size: 16px;
    text-align: center;
    margin: 4px;
  }
  .codeutsava__section-statistics-format-card-description span {
    font-size: 24px;
  }
}

@media (width<1000px) {
  .codeutsava__section-statistics-menu2 > div {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .codeutsava__section-statistics-format-card {
    width: 80%;
    margin: 1rem;
  }
}