/* .intro-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: flex;
    place-content: center;
    flex-direction: column;
    width: max-content;
} */

:root {
  --font-family: "Poppins", sans-serif;
  --color-bg: #000000;
  --primary-c: #7f00a6;
  --secondary-c: #b200ee;
}

.hehe{
  overflow: hidden;
  
}

.intro-container1 img {
  height: 100px;
}

.preloader-img{
  width: 100%;
  height: auto;
}

.intro-container1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  margin: 0 auto;
  right: 0;
  left: 0;
  display: flex;
  place-content: center;
  flex-direction: column;
  width: max-content;
}

#canvas{
  position: absolute;
  background-image: url('../src/assets/images/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

#root {
  display: none;
  opacity: 0;
}
/* 
.pre-container {
  position: absolute;
  right: 30%;
}

.lin {
  width: 200px;
  height: 12px;
  background: black;
  margin-bottom: 5px;
  border-radius: 6px;
}

.l-1::before{
  width: 150px;
  height: 12px;
  content: "";
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px #fbfb00, 0 0 12px #fbfb00,
    0 0 15px #fbfb00, 0 0 25px #fbfb00;
}

.l-3::before{
  width: 150px;
  height: 12px;
  content: "";
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px white, 0 0 12px white,
    0 0 15px white, 0 0 25px white;
}

.l-1::after,
.l-3::after {
  width: 50px;
  height: 12px;
  content: "";
  position: absolute;
  top: 0;
  border-radius: 0px 4px 4px 0px;
  background: black;
  box-shadow: none !important;
  right: 0;
} */

.sky-container {
  overflow: hidden;
  position: absolute;
  display: none;
  opacity: 0;
}

.button {
  font-family: "Poppins", sans-serif;
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  min-width: 200px;
  margin-top: 30px;
}
.button:hover .border {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}
.button:hover .border .left-plane,
.button:hover .border .right-plane {
  transform: translateX(0%);
}
.button:hover .text {
  color: #121212;
}
.button .border {
  border: 1px solid white;
  transform: skewX(-20deg);
  height: 32px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  transition: 0.1s ease-out;
}
.button .border .left-plane,
.button .border .right-plane {
  position: absolute;
  background: white;
  height: 32px;
  width: 300px;
  transition: 0.15s ease-out;
}
.button .border .left-plane {
  left: 0;
  transform: translateX(-100%);
}
.button .border .right-plane {
  right: 0;
  transform: translateX(100%);
}
.button .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.15s ease-out;
}

@media screen and (min-width: 860px) {
  .sky-container__left h2,
  .sky-container__right h2 {
    font-size: 72px;
    line-height: 68px;
  }
}
@media screen and (max-width: 768px) {
  .intro-container1 img {
    height: 40px;
  }
}
.sky-container__left {
  margin-right: 5px;
}
.sky-container .thirty-one {
  letter-spacing: 4px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
