.codeutsava__section11-problems-container1-winning {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 90%;
}

.codeutsava__section11-problems-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  width: 80%;
  transition: display 3s ease-in-out;
  margin-top: 4rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.codeutsava__section11-cardtitle {
  font-weight: 600;
  margin: 0.5rem 0;
  min-height: 3rem;
  display: flex;
  align-items: center;
  line-height: 24px;
}

.codeutsava__section11-line {
  border: 0.1px solid rgb(230, 230, 230);
  margin: 0.5rem 0;
  font-weight: lighter;
}

.codeutsava__section11-carddetails {
  margin: 1rem 0;
  color: rgb(220, 220, 220);
}

.codeutsava__section11-card {
  cursor: pointer;
}

.codeutsava__section11-card-name {
  transition: all 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  object-fit: cover;
  background-color: white;
  color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-weight: 600;
}

.codeutsava__section11-image:hover {
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.codeutsava__section11-problemModal-body p {
  text-align: center;
  margin: 4px 0px;
  padding: 8px 12px;
  border: 2px solid black;
  color: white;
  width: 30%;
  font-weight: 600;
  background-color: var(--secondary-c);
  /* opacity: 0.7; */
}

.codeutsava__section11-problemModal-body h5 {
  text-align: center;
  padding: 4px 1rem;
  border: 2px solid black;
  color: white;
  font-size: 16px;
  margin: 8px 0;
  font-weight: 500;
  border-radius: 8px;
  background-color: var(--secondary-c);
  /* opacity: 0.7; */
}
.codeutsava__section11-problemModal-body h1 {
  background-color: var(--secondary-c);
  padding: 4px 1rem;
  border-radius: 8px;
  color: white;
  margin: 8px 0;
  border: 2px solid black;
}
.codeutsava__section11-problemModal-body {
  overflow: hidden;
  position: fixed;
  width: 80%;
  height: 80%;
  top: 15%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  border-radius: 20px;
  box-shadow: 10px 10px 300px 15px rgb(87, 87, 87);
  background-image: url(../../assets/images/spookybg.png);
  background-size: cover;
  background-color: black;
}

.problemModal-close {
  width: 1.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 900px) {
  .codeutsava__section11-problems-container1-winning {
    grid-template-columns: repeat(1, 1fr);
  }

  .codeutsava__section11-problemModal-body h1 {
    font-size: 24px;
    text-align: center;
  }

  .codeutsava__section11-problemModal-body p {
    text-align: center;
    margin: 4px 0;
    width: 60%;
  }

  .codeutsava__section11-problems-container2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 200px) {
  .codeutsava__section11-problemModal-body {
    height: 65%;
    width: 90%;
    padding: 10px;
    left: 10%;
  }
  .codeutsava__section11-problems-container1-winning {
    grid-template-columns: repeat(1, 1fr);
  }

  .codeutsava__section11-problemModal-body h1 {
    font-size: 16px;
    text-align: center;
    margin: 4px 4px;
  }

  .codeutsava__section11-problemModal-body p {
    text-align: center;
    font-size: 12px;
    margin: 4px 0;
    width: 60%;
  }

  .codeutsava__section11-problems-container2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.codeutsava__section11-problemModal-body table {
  width: 80%;
  margin: 1rem 0;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.codeutsava__section11-problemModal-body th,
.codeutsava__section11-problemModal-body td {
  padding: 15px;
  text-align: center;
  color: white;
  border: 1px solid #000;
}

.codeutsava__section11-problemModal-body th {
  background-color: rgba(74, 74, 74, 0.8); 
}

.codeutsava__section11-problemModal-body tr:nth-child(even) {
  background-color: rgba(46, 46, 46, 0.8); 
}

.codeutsava__section11-problemModal-body tr:nth-child(odd) {
  background-color: rgba(29, 29, 29, 0.8); 
}

@media screen and (max-width: 900px) {
  .codeutsava__section11-problemModal-body td,
  .codeutsava__section11-problemModal-body th {
    font-size: 16px !important;
  }
  .codeutsava__section11-problemModal-body{
    padding: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .codeutsava__section11-problemModal-body td,
  .codeutsava__section11-problemModal-body th, .codeutsava__section11-problemModal-body h1, .codeutsava__section11-problemModal-body h5 {
    font-size: 12px !important;
  }
  .codeutsava__section11-problemModal-body td, .codeutsava__section11-problemModal-body th{
    padding: 10px !important;
  }
  .codeutsava__section11-problemModal-body{
    padding: 1rem;
  }
}
