.codeutsava__team-card3 {
  background-image: url(../../assets/images/spiderwebcob.svg);
  background-repeat: space;
  background-position: center;
  position: relative;
  width: 320px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden;
}

.codeutsava__team-card3-ds-top {
  background-image: url(../../assets/images/web.png);
  background-position: 50% 50%;
  background-size: 500px;
  background-repeat: no-repeat;
  width: 320px;
  height: 100px;
  opacity: 0.9;
  background-color: var(--primary-c);
  border-radius: 0 0 50% 50%;
}

.codeutsava__team-card3-content .position{
  color: var(--primary-c);
}

.codeutsava__team-card3-spider {
  position: relative;
  top: -30px;
  left: 8px;
  transition: all 3s ease;
}

.codeutsava__team-card3-spider-img {
  width: 45px;
  height: 45px;
}

.codeutsava__team-card3:hover .codeutsava__team-card3-spider {
  top: 80px;
}

.codeutsava__team-card3-avatar-holder {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  transform: scale(1.1);
}

.overall{
  transform: translateY(-50px);
}

.normal{
  transform: translateY(10px);
}

.codeutsava__team-card3-avatar-holder-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0 0 14px #f7f5ec;
}

.codeutsava__team-card3-content {
  position: relative;
  margin: auto;
  top: 100px;
  text-align: center;
  transition: all 2s ease;
}

.codeutsava__team-card3-pumpkin {
  position: absolute;
  bottom: 0;
  right: 8px;
}
.codeutsava__team-card3-pumpkin-img {
  height: 60px;
  width: 60px;
  transition: all .2s ease-in;
}
.codeutsava__team-card3:hover .codeutsava__team-card3-pumpkin-img {
  height: 40px;
  width: 40px;
}

.codeutsava__team-card3-social {
  position: absolute;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  bottom: -15%;
  width: 100%;
  background-color: var(--primary-c);
  transition: all .5s ease-in;
}
.codeutsava__team-card3-social a:hover{
  color: white;
}
.codeutsava__team-card3-social a {
  color: #060606;
  display: block;
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.codeutsava__team-card3:hover .codeutsava__team-card3-social {
  bottom: 0%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  50% {
    top: 145px;
  }
  100% {
    opacity: 1;
    top: 120px;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
    transform: scale(0);
  }

  100% {
    top: 40px;
    transform: scale(1.1);
  }
}

@keyframes dsTop {
  0% {
    top: -150px;
  }

  100% {
    top: 0;
  }
}
