@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.map-btn{
    color:black;
    padding: 0.7rem;
    width: 7rem;
    margin-top: 2rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    list-style: none;
}
.map-btn:hover{
    background-color:#0551b5;
    color: white;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  margin-left: 0%;
}
.map-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map{
    border-left: 15px solid black;
}
.show-map {
  display: block;
}

.hide-map {
  display: none;
}

.map-container {
  position: relative; 
}

.map {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: absolute; 
  bottom: 0;
  left: 100%;
  top:10%;
  transform: translateX(-50%);
}

.show-map {
  opacity: 1;
  transform: translateY(0) scaleY(1);
}

.hide-map {
  display: none;
}