.codeutsava__section7 {
  padding-top: 2rem;
  font-family: "Poppins";
  margin-bottom: 10rem;
}

.codeutsava__section7-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -1px;
  color: #ffffff;
  text-align: center;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.codeutsava__section7-title img {
  width: auto;
  position: relative;
  height: 90px;
}
.codeutsava__section7-body {
  display: grid;
  margin: 5rem 0;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  margin-bottom: 2.5rem;
  padding-left: 3.5rem;
}

.codeutsava__section7-left {
  border-radius: 1.5rem;
  max-width: 580px;
  position: relative;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgba(32, 32, 32, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.codeutsava__section7-left-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: white;
}

.codeutsava__section7-left-heading-arrow {
  width: 28px;
  transform: rotate(-90deg);
  margin-top: 4px;
  filter: invert(10%) sepia(77%) saturate(5947%) hue-rotate(286deg)
    brightness(98%) contrast(112%);
}

.codeutsava__section7-left-img {
  height: 250px;
  display: block;
  position: absolute;
  bottom: -1rem;
  left: -3.5rem;
  object-fit: contain;
}

.codeutsava__section7-left-bottom-container {
  bottom: 2rem;
  right: 1rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.answer-animation {
  animation: 1s cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal both running hehe;
}

.codeutsava__section7-left-answer-container {
  margin-left: 5rem;
  border-radius: 0.75rem;
  margin-top: 4rem;
  padding: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary-c);
  border-radius: 0.5rem;
  transition: opacity 1s ease-in-out 0s;
}

@keyframes hehe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.answer-hidden {
  transition: opacity 1s ease-in-out 0s;
  display: none;
}

.codeutsava__section7-left-answer {
  color: white;
}

.codeutsava__section7-left-bottom-content {
  width: 60%;
  padding: 0.75rem 0.5rem;
}

.codeutsava__section7-left-bottom-content p {
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.codeutsava__section7-right {
  padding: 0.5rem;
}

.codeutsava__section7-right-upper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: white;
}

.codeutsava__section7-right-upper h2 {
  font-size: 40px;
  line-height: 48px;
}

.codeutsava__section7-right-upper p {
  font-size: 18px;
  line-height: 22px;
}

.codeutsava__section7-right-question-container ul {
  list-style: none;
}

.codeutsava__section7-right-question-container {
  margin-top: 2rem;
}

.codeutsava__section7-right-question {
  padding: 2rem 0;
  line-height: 16px;
  cursor: pointer;
  border-style: solid;
  color: rgba(163, 163, 163, 1);
  border-width: 0 0 1px 0;
  border-color: rgba(163, 163, 163, 1);
}

.codeutsava__section7-right-question:hover {
  color: white;
}

.codeutsava__section7-body-mobile {
  display: none;
}

.section7-accordion {
  list-style: none;
}

.section7-accordion_item {
  border-bottom: 0.5px solid #ffffff;
}

.section7-button {
  background-color: transparent;
  color: #fff;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
  cursor: pointer;
  border: none;
}

.section7-control {
  font-size: 2rem;
}

.section7-answer {
  background-color: transparent;
  color: white;
  padding: 18px 0px;
  padding-top: 4px;
  font-size: 20px;
  line-height: normal;
  text-align: left;
  font-weight: 300;
}

.section7-question {
  font-style: normal;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  font-family: "Poppins";
  letter-spacing: -0.5px;
}

/* activate toggle */
.section7-accordion_item.active .button {
  background-color: #15131c;
}
.section7-answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}

@media screen and (max-width: 1000px) {
  .codeutsava__section7-body {
    display: none;
  }
  .codeutsava__section7-body-mobile {
    display: block;
    padding: 18px;
  }
}
@media screen and (max-width: 600px){
  .codeutsava__section7-body-mobile {
    
    padding: 0px;
  }
}

@media screen and (max-width: 650px) {
  .section7-button {
    padding: 0;
  }
  .section7-question {
    font-size: 14px;
    padding: 12px 0;
  }
  .section7-answer {
    font-size: 14px;
  }
  .section7-control {
    font-size: 1.2rem;
  }
}
.codeutsava__section7-left-bottom-content-contact-us-route {
  color: var(--secondary-c);
}
