.codeutsava__section2 {
    /* display: flex; */
    padding-top: 8rem;
    padding-bottom: 2rem;  
    color: white;
    font-family: 'Poppins'; 
}

.codeutsava__section2-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.codeutsava__section2-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.codeutsava__section2-title{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 1px;
}

.codeutsava__section2-content{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.codeutsava__section2-wordglobe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-sphere{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.tagcloud{
    display: inline-block;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

.tagcloud--item{
    font-family: "Poppins";
    font-weight: 500;
    color: #38b6ff;
}

.tagcloud--item:hover{
    color: white;
}

@media screen and (min-width:1450px){
    .codeutsava__section2-content{
        width: 850px;
        margin-left: 4rem;
    }
}

@media screen and (max-width:1150px){
    .codeutsava__section2-body{
        margin: 0 3rem;
    }
    .codeutsava__section2-wordglobe{
        transform: scale(0.8);
    }
    .codeutsava__section2-menu{
        gap: 1rem;
        flex-direction: column;
    }
    .codeutsava__section2-title{
        font-size: 36px;
    }
    .codeutsava__section2-content{
        text-align: center;
    }
}


@media screen and (max-width:650px){
    .codeutsava__section2-body{
        margin: 0 3rem;
    }
    .codeutsava__section2-wordglobe{
        transform: scale(0.6);
    }
    .codeutsava__section2-menu{
        max-width: 480px;
        height: 820px;
    }
    .codeutsava__section2-title{
        font-size: 36px;
    }
    .codeutsava__section2-content{
        font-size: 16px;
        line-height: 30px;
        transform: translateY(-5rem);
    }
}

@media screen and (max-width:450px){
    .codeutsava__section2-menu{
        max-width: 310px;
    }    
}




