:root{
  --purple:#AF0FDD;
}

.codeutsava__section3-events-container .slider .slick-list {
    margin: 0 2rem;
    box-sizing: initial;
    padding: 80px 0px;
    overflow-y: visible;
  }
  
  .slick-prev:before,
  .slick-next:before {
    display:none;
  }
  
  .codeutsava__section3-events-container .slider .slick-arrow .slick-prev button{
    display: none;
  }
  .codeutsava__section3-events-container .slider .slick-list .slick-slide > div {
    padding: 0 35px;
  }
  
  @media (min-width: 1024px) {
    .codeutsava__section3-events-container
      .slider
      .slick-list
      .slick-slide.slick-active.slick-current
      + .slick-slide {
      transition: all 2000ms ease-out;
      scale: 1.1;
      transform: translateY(50px);
    }
  }

.codeutsava__section3-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}

.codeutsava__section3-decor-web{
  width:110px;
  height:auto;
  position: absolute;
  
}

.one{
  left:340px;
  top:-40px;
}

.two{
  left:-50px;
  top:-40px;
}

.codeutsava__section3-decor-web img{
  height: auto;
  width:110px;
  color:white;
  cursor: pointer;
}

.codeutsava__section3-image {
  cursor: pointer !important;
  width: 100%;
  height:80%;
  transition: all 0.2s ease-in-out;
  border-top-left-radius:14px;
  border-top-right-radius:14px;
  border-bottom: 6px solid var(--purple);
}

.codeutsava__section3-image:hover {
  transform: scale(2.02);
  transition: all 0.2s ease-in-out;
  cursor:pointer !important;
}

.codeutsava__section3-content{
  background-color: white;
  border-radius: calc(40 * 1px);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.codeutsava__section3-cardTitle {
  font-weight: 700;
  font-size: x-large;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.codeutsava__section3-divider {
  border: 0.1px solid rgb(230, 230, 230);
  margin-top: 0.5rem;

  font-weight: lighter;
  width: 85%;
}

.codeutsava__section3-date {
  margin: 1rem 0;
  font-weight: 400;
  color:var(--purple);
}
