.codeutsava_section3-card-container{
  display: inline-block;
  aspect-ratio: 1;
  transition: .35s;
}

.codeutsava__section3-card {
  position: relative;
  padding: 2rem;
  background-image: url("../../assets/images/bg-eventCard.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 2.5rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
  box-shadow: orange 0 0 8px;
  align-items: center;
  justify-content: flex-end;
  border-radius: 4px;
  background-color: white;
}

@media screen and (max-width: 850px) {
  .codeutsava__section3-decor-web {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -30px;
    left: 210px;
    z-index: 2;
  }
}

.codeutsava__section3-decor-web img {
  height: auto;
  width: 110px;
  color: white;
  cursor: pointer;
}

.codeutsava__section3-image {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 300px;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  border: 2px solid orange;
}

.codeutsava__section3-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.codeutsava__section3-cardTitle {
  font-weight: 700;
  font-size: x-large;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.codeutsava__section3-divider {
  border: 0.1px solid orange;
  margin-top: 0.5rem;
  font-weight: lighter;
  width: 100%;
}

.codeutsava__section3-date {
  margin: 0.5rem 0;
  font-weight: 400;
  color: var(--secondary-c);
}

.codeutsava__section3-link {
  background-color: var(--secondary-c);
  border: 1px solid var(--secondary-c);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  margin-bottom: 2rem;
}

.codeutsava__section3-link:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

/* @media (min-width: 768px) {
  .codeutsava__section3-link {
    padding: 10px 30px;
  }
} */
@media screen and (max-width: 1200px) {
  .codeutsava__section3-image{
    padding: 1rem;
  }
}

@media screen and (max-width: 486px) {
  .codeutsava__section3-card {
    margin: 0;
  }
  .codeutsava__section3-cardTitle{
    font-weight: 700;
    font-size:200 ;
  }
   
  .codeutsava__section3-cardTitle {
    font-size: large;
    margin-top: 0.5rem;
  }

  .codeutsava__section3-date {
    font-size: 14px;
  }

  .codeutsava__section3-link {
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 484px) and (max-width: 768px) {
  .codeutsava__section3-card {
    margin:5px;
  }

  .codeutsava__section3-cardTitle {
    display: flex;
  /* align-items: center; */
  text-align: center;
    font-size: 10px;
  }

  .codeutsava__section3-date {
    font-size: 14px;
  }

  .codeutsava__section3-link {
    padding: 8px 20px;
    font-size: 14px;
  }

}