.codeutsava__section6 {
  padding-bottom: 4rem;
  font-family: "Poppins";
  color: white;
}

.codeutsava__section6-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.codeutsava__section6-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codeutsava__section6-title img {
  width: auto;
  position: relative;
  height: 110px;
}

.codeutsava__section6-content {
  font-style: normal;
  font-size: 24px;
  width: 85%;
  line-height: 36px;
  text-align: center;
}

.codeutsava__section6-sponsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  gap: 4rem;
}

.codeutsava__section6-sponser-title {
  font-style: normal;
  font-size: 32px;
  font-weight: 550;
  line-height: 44px;
  text-align: center;
}

.codeutsava__section6-sponser-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0rem;
  gap: 3rem;
  width: 100vw;
  background-color: rgb(32, 32, 32);
}

.codeutsava__section6-sponser-image{
  width: 300px;
}

.codeutsava__section6-sponser-image img{
  width: 100%;
  height: auto;
}

.platinum {
  transition: all 0.8s ease;
  border: 2px solid rgba(18, 17, 39, 0.08);
}

.platinum:hover {
  transition: all 0.8s ease;
  border-top: 2px solid #e5e4e2;
  border-bottom: 2px solid #e5e4e2;
}

.gold {
  transition: all 0.8s ease;
  border: 2px solid rgba(18, 17, 39, 0.08);
}

.gold:hover {
  transition: all 0.8s ease;
  border-top: 2px solid #ffd700;
  border-bottom: 2px solid #ffd700;
}

.silver {
  transition: all 0.8s ease;
  border: 2px solid rgba(18, 17, 39, 0.08);
}

.silver:hover {
  transition: all 0.8s ease;
  border: 2px solid #c0c0c0;
}

.bronze {
  transition: all 0.8s ease;
  border: 2px solid rgba(18, 17, 39, 0.08);
}

.bronze:hover {
  transition: all 0.8s ease;
  border: 2px solid #c67b30;
}

@media screen and (max-width: 900px) {
  .codeutsava__section6-sponser-list {
    flex-direction: column;
    max-width: 800px;
  }
  .platinum {
    border-top: 2px solid #e5e4e2;
    border-bottom: 2px solid #e5e4e2;
  }

  .gold {
    border-top: 2px solid #ffd700;
    border-bottom: 2px solid #ffd700;
  }

  .silver {
    border: 2px solid #c0c0c0;
  }

}

@media screen and (max-width: 650px) {
  .codeutsava__section6-content {
    font-size: 16px;
    line-height: 30px;
  }
  .codeutsava__section6-title {
    font-size: 40px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  .codeutsava__section6-sponser-list {
    max-width: 200px;
  }
}
